// HERO
.hero {
  text-align: center;
  padding: 30px 20px;
  background: $light-grey;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: 1.5rem;
    margin: 10px 0;
    width: 300px;
    @include desktop {
        font-size: 2.5rem;
        width: auto;
    }
  }

  &__description {
    font-size: 1.125rem;
    margin-bottom: 30px;
    margin-top: 0;
    width: 330px;
    font-weight: 300;

    @include desktop {
      width: auto;
    }
  }

  &__cta {
    @include button-style($primary-color, $secondary-color);
    @include button-animation($primary-color, $secondary-color);
  }
}

// FUNCTIONALITY
.functionality {
  display: flex;
  flex-direction: column;
  padding: 30px 20px 70px;
  gap: 25px;

  @include tablet {
    align-items: center;
  }

  @include desktop {
    padding: 30px 180px 70px;
  }

  &__steps {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 5px;

    @include desktop {
        flex-direction: row;
        gap: 30px;
    }
  }

  @include tablet {
    //align-items: center;
  }


  &__title {
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  &__step {
    display: flex;
    align-items: center;
    background-color: $light-grey;
    border-radius: 20px;
    padding: 15px;
    width: 100%;
    height: 72px;
    max-width: 500px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    margin-left: 5px;
  }

  &__number {
    background: $primary-color;
    color: $white;
    font-size: 14px;
    font-weight: bold;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    left: -25px;
    flex-shrink: 0;
  }

  &__icon {
    font-size: 1.2rem;
    color: #7E7E7E;

    &-purple {
      color: $primary-color;
    }
  }

  &__text {
    font-size: 1rem;
    font-weight: 500;
    padding: 0 20px;
    min-width: 125px;
  }
}

// RESTAURANTS
.restaurants {
  padding: 40px 20px 70px;
  background-color: $light-grey;

  @include desktop {
    padding: 40px 180px 70px;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 50px;
      justify-content: space-between;
    }
  }
}

// RESTAURANT CARD
.restaurant-card {
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s ease-in-out;

  @include tablet {
    width: calc(50% - 50px);
  }

  &:hover {
    transform: scale(1.02);
  }

  &__image {
    position: relative;

    img {
      width: 100%;
      height: 175px;
      object-fit: cover;
    }
  }

  &__badge {
    position: absolute;
    top: 13px;
    right: 13px;
    background-color: $tertiary-color;
    color: #008766;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: 500;
  }

  &__info {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
  }

  &__details {
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }

  &__location {
    font-size: 17px;
    font-weight: 300;
    color: #555;
    margin: 5px 0 0;
  }

  &__favorite {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;

    &-checkbox {
      display: none;
    }

    label {
      cursor: pointer;
      font-size: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      position: relative;
    }
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  backdrop-filter: blur(10px); // Apply blur effect
  animation: fadeOut 3s forwards 1s;

  &__spinner {
    background-color: $secondary-color;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: bounce 1s infinite;
  }
}
