.header {
  display: flex;
  flex-direction: column;
  align-items: center;

    &__back-button {
      position: absolute;
      left: 10px;
      top: 20px;
      background: none;
      border: none;
      font-size: 18px;
      cursor: pointer;
      text-decoration: none;
      color: black;
    }

  &__logo {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &--box-shadow {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
      width: 100%;
    }

    @include desktop {
      box-shadow: none;
    }

    img {
      width: 162px;
    }
  }

  &__location {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 50px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #EAEAEA;
    width: 100%;

    @include desktop {
      box-shadow: none;
    }

    &-description {
      font-weight: 500;
      font-size: 1rem;
    }
  }
}