@mixin button-animation($bg-color1, $bg-color2) {
  @include desktop {
    &:hover {
      background: linear-gradient(0deg, lighten($bg-color1, 10%), lighten($bg-color2, 10%));
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
    }
  }

  &:active {
    background: linear-gradient(0deg, lighten($bg-color1, 10%), lighten($bg-color2, 10%));
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
  }
}
