// heart-animation.scss

@keyframes fill-heart {
  0% {
    font-size: 0;
  }
  50% {
    -webkit-text-stroke: 0.5px #000000;
  }
  100% {
    -webkit-text-stroke: 0 #000000;
  }
}

@keyframes empty-heart {
  0% {
    font-size: large;
    -webkit-text-stroke: 0 #000000;
  }
  50% {
    font-size: 0;
    -webkit-text-stroke: 0.5px #000000;
  }
  100% {
    background: white;
  }
}