@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin button-style($bg-color1, $bg-color2) {
  padding: 10px 20px;
  background: linear-gradient(0deg, $bg-color1, $bg-color2);
  color: white;
  text-align: center;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  height: 50px;
  margin-bottom: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background 200ms ease-in-out, box-shadow 200ms ease-in-out;
}

@mixin tablet {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}